body {
    text-align: center;
}

h1 {
    background-color: #ccc;
    padding: 20px 0px 20px 0px;
}

#add-book-btn {
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}

.my-library-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.book-card {

    background-color: #ccc;
    padding: 20px;
    text-align: center;
    /* height: 300px; */
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.card-info {
    flex: 1;

}

.book-card>img {
    flex: 1;
    display: flex;
    height: 250px;
    width: fit-content;
}

.book-card>p:nth-child(1) {

    font-size: 20px;
    font-weight: bolder;

}

.book-card>p:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
}

.book-card>.card-info>p[id='read-status'] {
    color: green;
}

.book-card>.card-info>p[id='not-read-status'] {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}